/*
#Hero for articles

this should be moved out of page or arbited out to be reused

#.foo - descrip

#markup:

Styleguide page
*/

/*
#Hero

frontpage @todo should be renamed to hero-front or something

markup:
<div class="hero">
  <h1 class="hero__title"> title</h1>
  <figure class="hero__image">
    <img>
    <figcaption>figcap</figcaption>
  </figure>
  <div class="hero__text">bla bla bla </div>
<div>

styleguide: hero's
*/
.hero {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero--half {
  height: 50vh;  
}

.hero__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}
  .hero__image img {
    width: 100%;
    height: auto;
  }
  .hero__image figcaption {
    z-index: 10;
    width: 100%;
    margin-left: 70%;
    padding-right: 10%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    text-align: right;
    align-self: flex-end;
  }

.hero__title {
  position: absolute;
  z-index: 20;
  top: 10vh;
  left: center;
  width: 100%;
  padding: 0 10%;
  color: white;
  font-family: 'lato';
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
}

.hero__text {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: center;
  width: 100%;
  padding: 1% 20%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'lato';
  font-weight: 300;
  font-size: 1.5rem;
}
  .hero__text p{
    margin: 0;
  }

.hero__icon {
  z-index: 10;
  top: 200px;
  left: 0;
}

/* frontpage stuff */
.t-hero-front {
  background: #efefef url('../../images/mdk.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.t-hero-front h1{
  font-family: "titillium", sans-serif;
  font-size: 10rem;
  color: white;
}
.t-hero-front a{
  text-decoration: none;
}

/*
Navigation fixed Layout

*/

/* this name for an object is fucking terrible */
.hero-nav {
  position: relative;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
}
.hero-nav--locked {
  position: fixed;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid #efefef;
}

/* if the toolbar is active*/
body.toolbar-horizontal .hero-nav--locked {
  top: 40px;
}
body.toolbar-horizontal.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-horizontal.toolbar-tray-open .hero-nav--locked {
  top: 80px;
}
/* Is admin hide added*/
body.toolbar-horizontal.toolbar-tray-open.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-vertical .hero-nav--locked {
  top: 40px;
}
body.toolbar-vertical.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-vertical.toolbar-tray-open .hero-nav--locked {
  top: 40px;
}
body.toolbar-vertical.toolbar-tray-open.admin-hide .hero-nav--locked {
  top: 0;
}
.path-frontpage .hero-nav--locked + * {
  margin-top: 50px; /* .hero-nav height */
}

.hero-nav .menu-h {
  height: 50px;
}
.hero-nav li {
  border-left: 1px solid lightgray;
}
.hero-nav li:last-child {
  border-right: 1px solid lightgray;
}
.hero-nav a {
  color: black;
  font-family: "titillium", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}
.hero-nav a:hover {
  margin-bottom: -0.5rem; /*moves down */
  background: rgba(255, 255, 255, 0.9);
}
