.t-footer{
  background: #4A4A4A;
  background: var(--gray800);
}

.t-footer h2,
.t-footer h3{
  font-size: 1rem;
  color: var(--bluegray200);
}

.t-gray700{
  background: var(--gray700);
}

.t-footer a {
  color: var(--white);
}
