body {
  color: #666;
  font-family: "opensans", sans-serif;
  font-size: 18px;
  font-weight: 500;;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: #666;
  font-family: "bitter", sans-serif;
  font-weight: 300;
  line-height: 1;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}


.f-small {
  font-size: 0.7rem;
}
.f-small h3 {
  font-size: 1rem;
}

.f-medium {
}
.f-large {
}

.f-cap {
}
.f-cap::first-letter {
  color: red;
  font-family: "Bitter",serif;
  font-size: 4rem;
}


/* f- font size variations */
.f-bold {
  list-style: 2rem;
  color: black;
  font-size: 3rem;
  font-weight: 500;
}
