/*
#Hero

frontpage @todo should be renamed to hero-front or something

markup:
<div class="hero">
  <h1 class="hero__title"> title</h1>
  <figure class="hero__image">
  <img>
  <figcaption>figcap</figcaption>
  </figure>
  <div class="hero__content">bla bla bla </div>
<div>

styleguide: hero's
*/

.hero-front {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.hero-front img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hero-front {
  background: black url(../images/hero-sunset.jpg) no-repeat;
  background-size: cover;
}

/*
Navigation fixed Layout
*/
.hero-nav {
  position: relative;
  width: 100%;
}
.hero-nav--locked {
  position: fixed;
  z-index: 100;
  top: 0;
}
/* if the toolbar is active*/
body.toolbar-horizontal .hero-nav--locked {
  top: 40px;
}
body.toolbar-horizontal.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-horizontal.toolbar-tray-open .hero-nav--locked {
  top: 80px;
}
/* Is admin hide added*/
body.toolbar-horizontal.toolbar-tray-open.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-vertical .hero-nav--locked {
  top: 40px;
}
body.toolbar-vertical.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-vertical.toolbar-tray-open .hero-nav--locked {
  top: 40px;
}
body.toolbar-vertical.toolbar-tray-open.admin-hide .hero-nav--locked {
  top: 0;
}
.hero-nav--locked + * {
  margin-top: 50px; /* .hero-nav height */
}


/* hero-nav design
look in menu.css for the settings styles
@TODO: do we want this in conponent/menu
*/
.hero-nav {
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
}
.hero-nav--locked {
  border-bottom: 1px solid #efefef;
}
.hero-nav .menu-h {
  height: 50px;
}
.hero-nav li {
  border-left: 1px solid lightgray;
}
.hero-nav li:last-child {
  border-right: 1px solid lightgray;
}
.hero-nav a {
  color: black;
  font-family: "titillium", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}
.hero-nav a:hover {
  margin-bottom: -0.5rem; /*moves down */
  background: rgba(255, 255, 255, 0.9);
}


/*
#Hero for articles

this should be moved out of page or arbited out to be reused

#.foo - descrip

#markup:

Styleguide page
*/

/*
#Hero

frontpage @todo should be renamed to hero-front or something

markup:
<div class="hero">
  <h1 class="hero__title"> title</h1>
  <figure class="hero__image">
  <img>
  <figcaption>figcap</figcaption>
  </figure>
  <div class="hero__content">bla bla bla </div>
<div>

styleguide: hero's
*/


.hero {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.hero__title{
  position: absolute;
  left: 0%;
  z-index: 20
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}
  .hero__image img {
    width: 100%;
    height: auto;
  }
  .hero__image figcaption {
    z-index: 10;
    width: 100%;
    margin-left: 70%;
    padding-right: 10%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    text-align: right;

    align-self: flex-end;
  }
