/*
#Hero

*/
.hero {
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hero {
  background: black url(../images/hero-sunset.jpg) no-repeat;
  background-size: cover
}

/*
Navigation fixed Layout
*/
.hero-nav {
  position: relative;
  width: 100%;
}
.hero-nav--locked {
  position: fixed;
  z-index: 100;
  top: 0;
}
/* if the toolbar is active*/
body.toolbar-horizontal .hero-nav--locked {
  top: 40px;
}
body.toolbar-horizontal.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-horizontal.toolbar-tray-open .hero-nav--locked {
  top: 80px;
}
/* Is admin hide added*/
body.toolbar-horizontal.toolbar-tray-open.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-vertical .hero-nav--locked {
  top: 40px;
}
body.toolbar-vertical.admin-hide .hero-nav--locked {
  top: 0;
}
body.toolbar-vertical.toolbar-tray-open .hero-nav--locked {
  top: 40px;
}
body.toolbar-vertical.toolbar-tray-open.admin-hide .hero-nav--locked {
  top: 0;
}
.hero-nav--locked + * {
  margin-top: 50px; /* .hero-nav height */
}


/* hero-nav design
look in menu.css for the settings styles
*/
.hero-nav {
  background: rgba(255, 255, 255, 0.8);
  height: 50px;
}
.hero-nav--locked {
  border-bottom: 1px solid #efefef;
}
.hero-nav .menu-h {
  height: 50px;
}
.hero-nav li {
  border-left: 1px solid lightgray;
}
.hero-nav li:last-child {
  border-right: 1px solid lightgray;
}
.hero-nav a {
  color: black;
  font-family: "titillium", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}
.hero-nav a:hover {
  margin-bottom: -0.5rem; /*moves down */
  background: rgba(255, 255, 255, 0.9);
}
