/*
o-object{
}

c-component{
}

.u-utilty {

}

.l-layout{

}

.fix-shit_that_needs_to_be_fixed {

}
_theisiahack{

}
*/
.metadata{
  padding: 20px 0
}

.u-inline-list{
  background: red;
}

.u-inline{
  display: inline;
}

.u-hide-figcaption figcaption {
  display: none;
}

.u-small{
  font-size: 0.7rem;
}
/**
 * Outline all Hack classes.
 */
[class^="_"] {
  /*outline: 1px solid red;*/
}

_fix{

}
