/*
Here be dragons

*/
/* sigh */
main {
  padding-top:90px;
}
.path-frontpage main,
.path-node main{
  padding-top: 0;
}

/* small */
@media (max-width: 768px) {
  main{
    padding-top: 90px
  }

}/* small */

.page-title-yes-iknow-this-classname-is-dumb{
  text-align: center;
}

._t{
  outline: 1px solid red;
}

.code{
  background: #f5f2f0  ;
}

/*
o-object{
}

c-component{
}

.u-utilty {

}

.l-layout{

}

.fix-shit_that_needs_to_be_fixed {

}
_theisiahack{

}
*/


.u-inline-list{
  background: red;
}

.u-inline{
  display: inline;
}

.u-hide-figcaption figcaption {
  display: none;
}

.u-small{
  font-size: 0.7rem;
}
/**
 * Outline all Hack classes.
 */
[class^="_"] {
  /*outline: 1px solid red;*/
}

_fix{

}
