:root {
  --red      : #f44336;
  --red50    : #FFEBEE;
  --red100   : #FFCDD2;
  --red200   : #EF9A9A;
  --red300   : #E57373;
  --red400   : #EF5350;
  --red500   : #F44336;
  --red600   : #E53935;
  --red700   : #D32F2F;
  --red800   : #C62828;
  --red900   : #B71C1C;
  --reda100  : #FF8A80;
  --reda200  : #FF5252;
  --reda400  : #FF1744;
  --reda700  : #D50000;

  --pink     :#E91E63;
  --pink50   :#FCE4EC;
  --pink100  :#F8BBD0;
  --pink200  :#F48FB1;
  --pink300  :#F06292;
  --pink400  :#EC407A;
  --pink500  :#E91E63;
  --pink600  :#D81B60;
  --pink700  :#C2185B;
  --pink800  :#AD1457;
  --pink900  :#880E4F;
  --pinkA100 :#FF80AB;
  --pinkA200 :#FF4081;
  --pinkA400 :#F50057;
  --pinkA700 :#C51162;

  --purple      :#9C27B0;
  --purple-50   :#F3E5F5;
  --purple-100  :#E1BEE7;
  --purple-200  :#CE93D8;
  --purple-300  :#BA68C8;
  --purple-400  :#AB47BC;
  --purple-500  :#9C27B0;
  --purple-600  :#8E24AA;
  --purple-700  :#7B1FA2;
  --purple-800  :#6A1B9A;
  --purple-900  :#4A148C;
  --purple-A100 :#EA80FC;
  --purple-A200 :#E040FB;
  --purple-A400 :#D500F9;
  --purple-A700 :#AA00FF;

  --deeppurple      :#673AB7;
  --deeppurple-50   :#EDE7F6;
  --deeppurple-100  :#D1C4E9;
  --deeppurple-200  :#B39DDB;
  --deeppurple-300  :#9575CD;
  --deeppurple-400  :#7E57C2;
  --deeppurple-500  :#673AB7;
  --deeppurple-600  :#5E35B1;
  --deeppurple-700  :#512DA8;
  --deeppurple-800  :#4527A0;
  --deeppurple-900  :#311B92;
  --deeppurple-A100 :#B388FF;
  --deeppurple-A200 :#7C4DFF;
  --deeppurple-A400 :#651FFF;
  --deeppurple-A700 :#6200EA;

  --indigo      :#3F51B5;
  --indigo-50   :#E8EAF6;
  --indigo-100  :#C5CAE9;
  --indigo-200  :#9FA8DA;
  --indigo-300  :#7986CB;
  --indigo-400  :#5C6BC0;
  --indigo-500  :#3F51B5;
  --indigo-600  :#3949AB;
  --indigo-700  :#303F9F;
  --indigo-800  :#283593;
  --indigo-900  :#1A237E;
  --indigo-A100 :#8C9EFF;
  --indigo-A200 :#536DFE;
  --indigo-A400 :#3D5AFE;
  --indigo-A700 :#304FFE;

  --blue      :#2196F3;
  --blue-50   :#E3F2FD;
  --blue-100  :#BBDEFB;
  --blue-200  :#90CAF9;
  --blue-300  :#64B5F6;
  --blue-400  :#42A5F5;
  --blue-500  :#2196F3;
  --blue-600  :#1E88E5;
  --blue-700  :#1976D2;
  --blue-800  :#1565C0;
  --blue-900  :#0D47A1;
  --blue-A100 :#82B1FF;
  --blue-A200 :#448AFF;
  --blue-A400 :#2979FF;
  --blue-A700 :#2962FF;

  --lightblue      :#03A9F4;
  --lightblue-50   :#E1F5FE;
  --lightblue-100  :#B3E5FC;
  --lightblue-200  :#81D4FA;
  --lightblue-300  :#4FC3F7;
  --lightblue-400  :#29B6F6;
  --lightblue-500  :#03A9F4;
  --lightblue-600  :#039BE5;
  --lightblue-700  :#0288D1;
  --lightblue-800  :#0277BD;
  --lightblue-900  :#01579B;
  --lightblue-A100 :#80D8FF;
  --lightblue-A200 :#40C4FF;
  --lightblue-A400 :#00B0FF;
  --lightblue-A700 :#0091EA;

  --cyan      :#00BCD4;
  --cyan-50   :#E0F7FA;
  --cyan-100  :#B2EBF2;
  --cyan-200  :#80DEEA;
  --cyan-300  :#4DD0E1;
  --cyan-400  :#26C6DA;
  --cyan-500  :#00BCD4;
  --cyan-600  :#00ACC1;
  --cyan-700  :#0097A7;
  --cyan-800  :#00838F;
  --cyan-900  :#006064;
  --cyan-A100 :#84FFFF;
  --cyan-A200 :#18FFFF;
  --cyan-A400 :#00E5FF;
  --cyan-A700 :#00B8D4;

  --teal      : #009688;
  --teal-50   : #E0F2F1;
  --teal-100  : #B2DFDB;
  --teal-200  : #80CBC4;
  --teal-300  : #4DB6AC;
  --teal-400  : #26A69A;
  --teal-500  : #009688;
  --teal-600  : #00897B;
  --teal-700  : #00796B;
  --teal-800  : #00695C;
  --teal-900  : #004D40;
  --teal-A100 : #A7FFEB;
  --teal-A200 : #64FFDA;
  --teal-A400 : #1DE9B6;
  --teal-A700 : #00BFA5;

  --green      : #4CAF50 ;
  --green-50   : #E8F5E9 ;
  --green-100  : #C8E6C9 ;
  --green-200  : #A5D6A7 ;
  --green-300  : #81C784 ;
  --green-400  : #66BB6A ;
  --green-500  : #4CAF50 ;
  --green-600  : #43A047 ;
  --green-700  : #388E3C ;
  --green-800  : #2E7D32 ;
  --green-900  : #1B5E20 ;
  --green-A100 : #B9F6CA ;
  --green-A200 : #69F0AE ;
  --green-A400 : #00E676 ;
  --green-A700 : #00C853 ;

  --lightgreen      : #8BC34A;
  --lightgreen-50   : #F1F8E9;
  --lightgreen-100  : #DCEDC8;
  --lightgreen-200  : #C5E1A5;
  --lightgreen-300  : #AED581;
  --lightgreen-400  : #9CCC65;
  --lightgreen-500  : #8BC34A;
  --lightgreen-600  : #7CB342;
  --lightgreen-700  : #689F38;
  --lightgreen-800  : #558B2F;
  --lightgreen-900  : #33691E;
  --lightgreen-A100 : #CCFF90;
  --lightgreen-A200 : #B2FF59;
  --lightgreen-A400 : #76FF03;
  --lightgreen-A700 : #64DD17;

  --lime      : #CDDC39;
  --lime-50   : #F9FBE7;
  --lime-100  : #F0F4C3;
  --lime-200  : #E6EE9C;
  --lime-300  : #DCE775;
  --lime-400  : #D4E157;
  --lime-500  : #CDDC39;
  --lime-600  : #C0CA33;
  --lime-700  : #AFB42B;
  --lime-800  : #9E9D24;
  --lime-900  : #827717;
  --lime-A100 : #F4FF81;
  --lime-A200 : #EEFF41;
  --lime-A400 : #C6FF00;
  --lime-A700 : #AEEA00;

  --yellow     :#FFEB3B;
  --yellow-50   : #FFFDE7;
  --yellow-100  : #FFF9C4;
  --yellow-200  : #FFF59D;
  --yellow-300  : #FFF176;
  --yellow-400  : #FFEE58;
  --yellow-500  : #FFEB3B;
  --yellow-600  : #FDD835;
  --yellow-700  : #FBC02D;
  --yellow-800  : #F9A825;
  --yellow-900  : #F57F17;
  --yellow-A100 : #FFFF8D;
  --yellow-A200 : #FFFF00;
  --yellow-A400 : #FFEA00;
  --yellow-A700 : #FFD600;

  --amber      : #FFC107;
  --amber-50   : #FFF8E1;
  --amber-100  : #FFECB3;
  --amber-200  : #FFE082;
  --amber-300  : #FFD54F;
  --amber-400  : #FFCA28;
  --amber-500  : #FFC107;
  --amber-600  : #FFB300;
  --amber-700  : #FFA000;
  --amber-800  : #FF8F00;
  --amber-900  : #FF6F00;
  --amber-A100 : #FFE57F;
  --amber-A200 : #FFD740;
  --amber-A400 : #FFC400;
  --amber-A700 : #FFAB00;

  --orange       : #FF9800;
  --orange-50    : #FFF3E0;
  --orange-100   : #FFE0B2;
  --orange-200   : #FFCC80;
  --orange-300   : #FFB74D;
  --orange-400   : #FFA726;
  --orange-500   : #FF9800;
  --orange-600   : #FB8C00;
  --orange-700   : #F57C00;
  --orange-800   : #EF6C00;
  --orange-900   : #E65100;
  --orange-A100  : #FFD180;
  --orange-A200  : #FFAB40;
  --orange-A400  : #FF9100;
  --orange-A700  : #FF6D00;

  --deeporange     :#FF5722 ;
  --deeporange-50   : #FBE9E7;
  --deeporange-100  : #FFCCBC;
  --deeporange-200  : #FFAB91;
  --deeporange-300  : #FF8A65;
  --deeporange-400  : #FF7043;
  --deeporange-500  : #FF5722;
  --deeporange-600  : #F4511E;
  --deeporange-700  : #E64A19;
  --deeporange-800  : #D84315;
  --deeporange-900  : #BF360C;
  --deeporange-A100 : #FF9E80;
  --deeporange-A200 : #FF6E40;
  --deeporange-A400 : #FF3D00;
  --deeporange-A700 : #DD2C00;

  --brown     : #795548;
  --brown-50  : #EFEBE9;
  --brown-100 : #D7CCC8;
  --brown-200 : #BCAAA4;
  --brown-300 : #A1887F;
  --brown-400 : #8D6E63;
  --brown-500 : #795548;
  --brown-600 : #6D4C41;
  --brown-700 : #5D4037;
  --brown-800 : #4E342E;
  --brown-900 : #3E2723;

  --gray    : #9E9E9E;
  --gray50  : #FAFAFA;
  --gray100 : #F5F5F5;
  --gray200 : #EEEEEE;
  --gray300 : #E0E0E0;
  --gray400 : #BDBDBD;
  --gray500 : #9E9E9E;
  --gray600 : #757575;
  --gray700 : #616161;
  --gray800 : #424242;
  --gray900 : #212121;

  --bluegray     : #607D8B ;
  --bluegray50  : #ECEFF1;
  --bluegray100 : #CFD8DC;
  --bluegray200 : #B0BEC5;
  --bluegray300 : #90A4AE;
  --bluegray400 : #78909C;
  --bluegray500 : #607D8B;
  --bluegray600 : #546E7A;
  --bluegray700 : #455A64;
  --bluegray800 : #37474F;
  --bluegray900 : #263238;

  --black : #000000;
  --white : #ffffff;
}
