{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  {# why is this not a H2 #}
  <h2>{{ title }}</h2>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {# NO We dont wanna print anything if theres no classe set in the UI
     Which is bad practice anyways & makes shit complicated
     css selector configs do NOT belong in a UI unless you name is drupal7
  #}
  {% if default_row_class %}
    <div{{ row.attributes.addClass(row_classes) }}>
  {% endif %}

  {{ row.content }}

  {% if default_row_class %}
    </div>
  {% endif %}
{% endfor %}
