{#
variables:
{{ width }}
height
alt
title


#}
{%
set classes = [
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}



{#  <figure> tag is set in field--image #}
<img{{ attributes.addClass(classes) }} />
{# lets get a caption on this badboy if user have added a title #}
{% if title %}
  <figcaption>{{ title }}</figcaption>
{% endif %}
<h2>  {{ alt }}</h2>
