.hero {
  position: relative;
  overflow: hidden;
  background: #eee;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#111));
  background: -webkit-linear-gradient(top, #111, #fff);
  background: -moz-linear-gradient(top, #111, #fff);
  background: -ms-linear-gradient(top, #111, #fff);
  border-bottom: 1px solid #eee;
}
.hero__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}

.hero__image img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.hero__text {
  z-index: 10;
  bottom: 50px;
  left: 0;
  width: 100%;
  min-height: 40vh;
  background: rgba(0,0,0,0.7);
  text-align: center;
}
.hero__text a:hover {
  color: white;
  text-decoration: none;
}

.hero__title {
  padding: 3rem 0 0 0;
  color: white;
  font-family: "titillium", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}
.hero__teaser {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

/* small */
@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
    font-weight: 700;
  }
  .hero__teaser {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2rem;
  }
}/* small */


/* ----------------------------------------------------------------------------
Meta
----------------------------------------------------------------------------*/
.node__meta {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 50;
  top: -30px;
  padding: 10px;
}

.f-intro {
  color: var(--pink900);
}

.border-top {
  border-top: 1px solid #eee;
}


.divider {
  height: 60px;
  background: transparent url("divider-coffee.png") no-repeat center center;
}

.circle {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--pink600);
  border-radius: 50%;
  background: var(--pink700);
  color: var(--white);
  font-size: 0.6rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  line-height: 1.7rem;


}
.circle a {
  color: inherit;
  line-height: 2rem;
}
