{{ attach_library('vanilla/hero') }}


<div class="L-center-middle screenheight-full screenheight-half@s js-hero-front t-hero-front" id="top">

  <a href="#mainmenu">
    <h1>mortendk</h1>
    <h2>My favorite color is <span class="hero__favecolor">#bada55</span></h2>
    <h3>Drupal Webdesigner</h3>
    <div class="hero__arrow">arrow down</div>
  </a>
</div>
