{{ attach_library('vanilla/hero') }}

<div class="L-center-middle screenheight-full screenheight-half@s js-hero-front t-hero-front" id="top">

  <a href="#main" data-balloon="Hi I also rant about css, markup, drupaltwig ">
    <h3>I make Drupal 8 themes</h3>
    <h1>mortendk</h1>
    <h2>My favorite colour is <span class="t-hero-front__color">#bada55</span></h2>

    <div class="t-hero-front__logo">
    </div>

  </a>
</div>
