.teaser {
  background: #eee;
  min-height: 10rem;
  position: relative;
}
.teaser__image {
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  background: gray;
  height: 100%;
  width: 100%;
}
.teaser__content {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 0;
  height: 3rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  display: block;
  width: 100%;
}
.teaser__title a {
  color: white;
}
.teaser__text {
  overflow: hidden;
  font-size: 0.7rem;
}
