{# remove the id from blocks #}
<div{{ attributes.addClass('L-center').removeAttribute('id') }}>
  {# we keep these so the  #}
  {{ title_prefix }}
  {{ title_suffix }}

  {# No Drupal u dont hardcode markup in my theme #}
  {{ content|without('#markup') }}

  <a href="https://drupal.org" target="_blank">
    {% include active_theme_path() ~ '/templates/component/powered-by-drupal/drupal.svg' %}
  </a>

  <a href="https://www.drupal.org/project/vanilla" target="_blank">
  <div class="iconsvg iconsvg--m">
    {% include active_theme_path() ~ '/logo.svg' %}
  </div>
  </a>

</div>
