/*
Layout
*/

/*
#Layout Width

fullpage & page widths

.layout-fullwidth - the full width
.layout-pagewidth - the main content, use the name page for it.

Markup:
<div class="layout-pagewidth green">
  green
</div>
<div class="layout-fullwidth green-50">
  main
</div>
<div class="layout-pagewidth blue">
  blue
</div>

Styleguide layout 1.0.0
*/
.layout-fullwidth {
  width: 100%;
}
/* Sets a page width for different screensizes */
.layout-pagewidth {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
@media screen (min-width: 601px) and (max-width: 768px) {
  .layout-pagewidth {
    max-width: 768px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .layout-pagewidth {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1401px) {
  .layout-pagewidth {
    max-width: 1400px;
  }
}

/*
#Layout sizes

item inside of a layout. width-[gridwide]@[screensize]

.width-1  - 1 wide
.width-2  - 2 wide
.width-3  - 3 wide
.width-4  - 4 wide
.width-5  - 5 wide
.width-6  - 6 wide
.width-7  - 7 wide
.width-8  - 8 wide
.width-9  - 9 wide
.width-10  - 10 wide
.width-11  - 11 wide
.width-12  - 2 wide

markup:
<div class="layout _testlayout">
  <div class="width-1 width-6@sm width-3@md width-1@lg">Responsi</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
  <div class="width-1">7</div>
  <div class="width-1">8</div>
  <div class="width-1">9</div>
  <div class="width-1">10</div>
  <div class="width-1">11</div>
  <div class="width-1">12</div>
  <div class="$modifierClass _testelement">Test</div>
  <div class="width-1">1</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
</div>

Styleguide layout 2.0.0
*/

/*
width-[gridsize]\@[s/m/l/xl]

@TODO: push classes ?

*/
[class^="width-"],
[class*=" width-"] {
  margin: 0 7px;
  overflow: hidden;
  background: #efefef;

}

.width-1  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
.width-2  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
.width-3  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
.width-4  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
.width-5  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
.width-6  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
.width-7  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
.width-8  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
.width-9  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
.width-10 { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
.width-11 { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
.width-12 { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}

/* divided */
.width-ten   { flex: 0 1 calc(10% - 14px);}
.width-nine  { flex: 0 1 calc(11.11 - 14px);}
.width-eight { flex: 0 1 calc(12.5 - 14px);}
.width-seven { flex: 0 1 calc(14.28 - 14px);}
.width-sixth { flex: 0 1 calc(16.66% - 14px);}
.width-fifth { flex: 0 1 calc(20% - 14px);}
.width-fourth{ flex: 0 1 calc(25% - 14px);}
.width-third { flex: 0 1 calc(33.33% - 14px);}
.width-half  { flex: 0 1 calc(50% - 14px);}
.width-full  { flex: 0 1 calc(100% - 14px);}

@media (max-width: 768px) {
  /* default */
  [class^="width-"],
  [class*=" width-"] {
    flex: 0 1 calc(100% - 14px);
  }
  .width-1\@s  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .width-2\@s  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .width-3\@s  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .width-4\@s  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .width-5\@s  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .width-6\@s  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .width-7\@s  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .width-8\@s  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .width-9\@s  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .width-10\@s { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .width-11\@s { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .width-12\@s { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}

  .width-ten\@s   { flex: 0 1 calc(10% - 14px);}
  .width-nine\@s  { flex: 0 1 calc(11.11 - 14px);}
  .width-eight\@s { flex: 0 1 calc(12.5 - 14px);}
  .width-seven\@s { flex: 0 1 calc(14.28 - 14px);}
  .width-sixth\@s { flex: 0 1 calc(16.66% - 14px);}
  .width-fifth\@s { flex: 0 1 calc(20% - 14px);}
  .width-fourth\@s{ flex: 0 1 calc(25% - 14px);}
  .width-third\@s { flex: 0 1 calc(33.33% - 14px);}
  .width-half\@s  { flex: 0 1 calc(50% - 14px);}
  .width-full\@s  { flex: 0 1 calc(100% - 14px);}
}
@media (min-width: 768px) {
  .width-1\@m  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .width-2\@m  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .width-3\@m  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .width-4\@m  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .width-5\@m  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .width-6\@m  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .width-7\@m  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .width-8\@m  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .width-9\@m  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .width-10\@m { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .width-11\@m { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .width-12\@m { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}

  .width-ten\@m   { flex: 0 1 calc(10% - 14px);}
  .width-nine\@m  { flex: 0 1 calc(11.11 - 14px);}
  .width-eight\@m { flex: 0 1 calc(12.5 - 14px);}
  .width-seven\@m { flex: 0 1 calc(14.28 - 14px);}
  .width-sixth\@m { flex: 0 1 calc(16.66% - 14px);}
  .width-fifth\@m { flex: 0 1 calc(20% - 14px);}
  .width-fourth\@m{ flex: 0 1 calc(25% - 14px);}
  .width-third\@m { flex: 0 1 calc(33.33% - 14px);}
  .width-half\@m  { flex: 0 1 calc(50% - 14px);}
  .width-full\@m  { flex: 0 1 calc(100% - 14px);}
}
@media (min-width: 992px) {
  .width-1\@l  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .width-2\@l  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .width-3\@l  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .width-4\@l  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .width-5\@l  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .width-6\@l  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .width-7\@l  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .width-8\@l  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .width-9\@l  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .width-10\@l { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .width-11\@l { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .width-12\@l { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}
}
@media (min-width: 1200px) {
  .width-1\@xl  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .width-2\@xl  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .width-3\@xl  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .width-4\@xl  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .width-5\@xl  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .width-6\@xl  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .width-7\@xl  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .width-8\@xl  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .width-9\@xl  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .width-10\@xl { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .width-11\@xl { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .width-12\@xl { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}
}



/*
#Layout sizes nomargin

.width-1  - 1 wide
.width-2  - 2 wide
.width-3  - 3 wide
.width-4  - 4 wide
.width-5  - 5 wide
.width-6  - 6 wide
.width-7  - 7 wide
.width-8  - 8 wide
.width-9  - 9 wide
.width-10  - 10 wide
.width-11  - 11 wide
.width-12  - 2 wide

markup:
<div class="layout layout--nomargin _testlayout">
  <div class="width-1">1</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
  <div class="width-1">7</div>
  <div class="width-1">8</div>
  <div class="width-1">9</div>
  <div class="width-1">10</div>
  <div class="width-1">11</div>
  <div class="width-1">12</div>
  <div class="$modifierClass _testelement">Test</div>
  <div class="width-1">1</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
</div>

Styleguide layout 3.0.0
*/

.layout--nomargin [class^="width-"],
.layout--nomargin [class*=" width-"] {
  margin: 0;
  overflow: hidden;
}

.layout--nomargin .width-1 { flex: 0 1 8.33%;}
.layout--nomargin .width-2 { flex: 0 1 16.66%;}
.layout--nomargin .width-3 { flex: 0 1 25%;}
.layout--nomargin .width-4 { flex: 0 1 33.32%;}
.layout--nomargin .width-5 { flex: 0 1 41.65%;}
.layout--nomargin .width-6 { flex: 0 1 50%;}
.layout--nomargin .width-7 { flex: 0 1 58.31%;}
.layout--nomargin .width-8 { flex: 0 1 66.66%;}
.layout--nomargin .width-9 { flex: 0 1 74.97%;}
.layout--nomargin .width-10 { flex: 0 1 83.3%;}
.layout--nomargin .width-11 { flex: 0 1 91.63%;}
.layout--nomargin .width-12 { flex: 0 1 100%;}

/* divided */
.layout--nomargin .width-ten   { flex: 0 1 10%;}
.layout--nomargin .width-nine  { flex: 0 1 11.11;}
.layout--nomargin .width-eight { flex: 0 1 12.5;}
.layout--nomargin .width-seven { flex: 0 1 14.28;}
.layout--nomargin .width-sixth { flex: 0 1 16.66%;}
.layout--nomargin .width-fifth { flex: 0 1 20%;}
.layout--nomargin .width-fourth{ flex: 0 1 25%;}
.layout--nomargin .width-third { flex: 0 1 33.33%;}
.layout--nomargin .width-half  { flex: 0 1 50%;}

@media (max-width: 768px) {
  .layout--nomargin .width-1\@s { flex: 0 1 8.33%;}
  .layout--nomargin .width-2\@s { flex: 0 1 16.66%;}
  .layout--nomargin .width-3\@s { flex: 0 1 25%;}
  .layout--nomargin .width-4\@s { flex: 0 1 33.32%;}
  .layout--nomargin .width-5\@s { flex: 0 1 41.65%;}
  .layout--nomargin .width-6\@s { flex: 0 1 50%;}
  .layout--nomargin .width-7\@s { flex: 0 1 58.31%;}
  .layout--nomargin .width-8\@s { flex: 0 1 66.66%;}
  .layout--nomargin .width-9\@s { flex: 0 1 74.97%;}
  .layout--nomargin .width-10\@s { flex: 0 1 83.3%;}
  .layout--nomargin .width-11\@s { flex: 0 1 91.63%;}
  .layout--nomargin .width-12\@s { flex: 0 1 100%;}
}

@media (min-width: 768px) {
  .layout--nomargin .width-1\@m { flex: 0 1 8.33%;}
  .layout--nomargin .width-2\@m { flex: 0 1 16.66%;}
  .layout--nomargin .width-3\@m { flex: 0 1 25%;}
  .layout--nomargin .width-4\@m { flex: 0 1 33.32%;}
  .layout--nomargin .width-5\@m { flex: 0 1 41.65%;}
  .layout--nomargin .width-6\@m { flex: 0 1 50%;}
  .layout--nomargin .width-7\@m { flex: 0 1 58.31%;}
  .layout--nomargin .width-8\@m { flex: 0 1 66.66%;}
  .layout--nomargin .width-9\@m { flex: 0 1 74.97%;}
  .layout--nomargin .width-10\@m { flex: 0 1 83.3%;}
  .layout--nomargin .width-11\@m { flex: 0 1 91.63%;}
  .layout--nomargin .width-12\@m { flex: 0 1 100%;}
}

@media (min-width: 992px) {
  .layout--nomargin .width-1\@l { flex: 0 1 8.33%;}
  .layout--nomargin .width-2\@l { flex: 0 1 16.66%;}
  .layout--nomargin .width-3\@l { flex: 0 1 25%;}
  .layout--nomargin .width-4\@l { flex: 0 1 33.32%;}
  .layout--nomargin .width-5\@l { flex: 0 1 41.65%;}
  .layout--nomargin .width-6\@l { flex: 0 1 50%;}
  .layout--nomargin .width-7\@l { flex: 0 1 58.31%;}
  .layout--nomargin .width-8\@l { flex: 0 1 66.66%;}
  .layout--nomargin .width-9\@l { flex: 0 1 74.97%;}
  .layout--nomargin .width-10\@l { flex: 0 1 83.3%;}
  .layout--nomargin .width-11\@l { flex: 0 1 91.63%;}
  .layout--nomargin .width-12\@l { flex: 0 1 100%;}
}

@media (min-width: 1200px) {
  .layout--nomargin .width-1\@xl { flex: 0 1 8.33%;}
  .layout--nomargin .width-2\@xl { flex: 0 1 16.66%;}
  .layout--nomargin .width-3\@xl { flex: 0 1 25%;}
  .layout--nomargin .width-4\@xl { flex: 0 1 33.32%;}
  .layout--nomargin .width-5\@xl { flex: 0 1 41.65%;}
  .layout--nomargin .width-6\@xl { flex: 0 1 50%;}
  .layout--nomargin .width-7\@xl { flex: 0 1 58.31%;}
  .layout--nomargin .width-8\@xl { flex: 0 1 66.66%;}
  .layout--nomargin .width-9\@xl { flex: 0 1 74.97%;}
  .layout--nomargin .width-10\@xl { flex: 0 1 83.3%;}
  .layout--nomargin .width-11\@xl { flex: 0 1 91.63%;}
  .layout--nomargin .width-12\@xl { flex: 0 1 100%;}
}

/* Height */
.height-full   { height: 100vh;}
.height-half   { height: 50vh;}
.height-fourth {  height: 25vh;}

/* add mediaquery size */
@media (max-width: 768px) {
  .height-full\@s   { height: 100vh;}
  .height-half\@s   { height: 50vh;}
  .height-fourth\@s {  height: 25vh;}
}
@media (min-width: 768px) {
  .height-full\@m   { height: 100vh;}
  .height-half\@m   { height: 50vh;}
  .height-fourth\@m {  height: 25vh;}
}
@media (min-width: 992px) {
  .height-full\@l   { height: 100vh;}
  .height-half\@l   { height: 50vh;}
  .height-fourth\@l {  height: 25vh;}
}
@media (min-width: 1200px) {
  .height-full\@xl   { height: 100vh;}
  .height-half\@xl   { height: 50vh;}
  .height-fourth\@xl {  height: 25vh;}
}




/* Show hide utilities */
@media (max-width: 768px) {
  .u-visible\@s{ display: block;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
}
@media (min-width: 768px) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: block;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
}
@media (min-width: 992px) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: block;}
  .u-visible\@g{ display: none;}
}
@media (min-width: 992px) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: block;}
}
@media print {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
  .u-visible\@print{ display: block;} /* @TODO: fix*/
}


/*
#Layout helpers

layout helpers to align items the right way, required the layout baseselectors with variations. the .layout selector

.layout - the default selector that defines the flex model.
.layout--left - selector description
.layout--right - selector description
.layout--center - selector description
.layout--vertical - vertical list (default)
.layout--vertical-reverse - vertical reverse
.layout--horizontal - horizontal list
.layout--horizontal-reverse - horizontal list
.layout--middle - place elements in the middle
.layout--top - place elemments in top
.layout--bottom - place element in the bottom
.layout--center-middle - place the element in the real center of the parent.
.layout--space-between - sepeta with space between
.layout--space-around - space around the elements

Markup:
<ul class="layout $modifierClass _testlayout">
  <li class="width-1">1</li>
  <li class="width-1">2</li>
  <li class="width-1">3</li>
  <li class="width-1">4</li>
  <li class="width-1">5</li>
  <li class="width-1">6</li>
  <li class="width-1">7</li>

</ul>

Styleguide layout 4.0.0
*/
.layout {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.layout--nowrap {
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.layout--left {
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}

.layout--right {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}
.layout--center {
  -webkit-justify-content: center;
          justify-content: center;
}
.layout--middle {
  align-items: center;
}
.layout--top {
  align-items: flex-start;
}
.layout--bottom {
  align-items: flex-end;
}
.layout--center-middle {
  flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  align-items: center;
}

/* spacing*/
.layout--space-between {
  -webkit-justify-ncontent: space-between;
  justify-content: space-between;
}
.layout--space-around {
  -webkit-justify-ncontent: space-around;
  justify-content: space-around;
}

/* layout direction */
.layout--vertical {
          flex-direction: row;
  -webkit-flex-direction: row;
}
.layout--vertical-reverse {
          flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;

}
.layout--horizontal {
          flex-direction: column;
  -webkit-flex-direction: colum;
}
.layout--horizontal-reverse {
          flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

/* For test using */
._testlayout {
  background: lightblue;
  padding:0.5rem 0;
  text-align: center;
  min-height: 500px
}
._testlayout .width-1,
._testlayout ._testelement {
  margin-bottom: 2px;
  border-right: 1px solid lightgray;
  background: #e1e1e1;
  color: #999;
  height: 50px;
}
._testlayout div._testelement,
._testelement {
  background: hotpink;
  text-align: center;
  color: black;
}
