/*
OLD fashioned layout Layout
a post modern layout concept.
*/
.L{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.L-center{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.L-left-middle{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;;
  flex-wrap: wrap;
  align-items: center;
}

.L-center-middle{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.L-right-middle{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  align-items: center;
  align-content: flex-end;;
}
.L-right{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;;
}


.L-space{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;;
}

/* Modifiers */
.L--nowrap {
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.L--left {
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  align-content: flex-start;
}
.L--right {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  align-content: flex-end;
}
.L--center {
  -webkit-justify-content: center;
          justify-content: center;
  align-content: flex-center;;
}
.L--middle {
  align-items: center;
}
.L--top {
  align-items: flex-start;
}
.L--bottom {
  align-items: flex-end;
}
.L--center-middle {
  flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  align-items: center;
}

/* spacing*/
.L--space-between {
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.L--space-around{
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

/* layout direction */
.L--vertical {
          flex-direction: row;
  -webkit-flex-direction: row;
}
.L--vertical-reverse {
          flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}
.L--horizontal {
          flex-direction: column;
  -webkit-flex-direction: colum;
}
.L--horizontal-reverse {
          flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

.L-fixed {
  position: fixed;
  top:0;
}



/* Set widths for a layouts  */
/*
#Width

fullpage & page widths defined

.L-fullwidth - the full width
.layout-pagewidth - the main content, use the name page for it.

Styleguide layout 1.0.0
*/

/* Sets a "page" width*/

.fullwidth {
  width: 100%;
}

.pagewidth {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .pagewidth {
    padding: 0 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .pagewidth {
    padding: 0 calc( (100% - 960px) / 2 );
  }
}
@media screen and (min-width: 1401px) {
  .pagewidth {
    padding: 0 calc( (100% - 960px) / 2 );
  }
}



.width-25 { max-width: 25%; width: 25%; margin: 0 auto;}
.width-50 { max-width: 50%; width: 50%; margin: 0 auto;}
.width-75 { max-width: 75%; width: 75%; margin: 0 auto;}
.width-90{ max-width: 90%; width: 90%; margin: 0 auto;}
.width-100{ max-width: 100%; width: 100%; margin: 0 auto;}

/* Sets a page width for different screensizes */
@media (max-width: 768px) {
  .width-100\@s { max-width: 100%; width: 100%;}
  .width-50\@s { max-width: 50%; width: 50%; }
  .width-75\@s { max-width: 75%; width: 75%; }
  .width-90\@s { max-width: 90%; width: 90%; }
  .width-100\@s{ max-width: 100%; width: 100%; }

}
@media (min-width: 769px) {
  .width-100\@m { max-width: 100%; width: 100%;}
  .width-50\@m { max-width: 50%; width: 50%; }
  .width-75\@m { max-width: 75%; width: 75%; }
  .width-100\@m{ max-width: 100%; width: 100%; }

}
@media (min-width: 992px) {
  .width-100\@l { max-width: 100%; width: 100%;}
  .width-50\@l { max-width: 50%; width: 50%; }
  .width-75\@l { max-width: 75%; width: 75%; }
  .width-100\@l{ max-width: 100%; width: 100%; }
}

@media (min-width: 1200px) {
  .width-100\@xl { max-width: 100%; width: 100%;}
  .width-50\@xl { max-width: 50%; width: 50%; }
  .width-75\@xl { max-width: 75%; width: 75%; }
  .width-100\@xl{ max-width: 100%; width: 100%; }

}


/*
#Layout sizes

item inside of a layout. width-[gridwide]@[screensize]

.w-1  - 1 wide
.w-2  - 2 wide
.w-3  - 3 wide
.w-4  - 4 wide
.w-5  - 5 wide
.w-6  - 6 wide
.w-7  - 7 wide
.w-8  - 8 wide
.w-9  - 9 wide
.w-10  - 10 wide
.w-11  - 11 wide
.w-12  - 2 wide

markup:
<div class="layout _testlayout">
  <div class="width-1 width-6@sm width-3@md width-1@lg">Responsi</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
  <div class="width-1">7</div>
  <div class="width-1">8</div>
  <div class="width-1">9</div>
  <div class="width-1">10</div>
  <div class="width-1">11</div>
  <div class="width-1">12</div>
  <div class="$modifierClass _testelement">Test</div>
  <div class="width-1">1</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
</div>

Styleguide layout 2.0.0
*/

/*
width-[gridsize]\@[s/m/l/xl]

@TODO: push classes ?

*/

[class^="w-"],
[class*=" w-"] {
  margin: 0 7px;
  overflow: hidden;
}
.L--nomargin [class^="w-"],
.L--nomargin [class*=" w-"] {
  margin: 0;
  overflow: hidden;
}

/* nesting */
[class^="w-"] .L,
[class^=" w-"] .L{
  margin-left: -7px;
  width: calc(100% + 14px);
}
.L--nomargin [class^="w-"] .L--nomargin,
.L--nomargin [class*=" w-"] .L--nomargin{
  margin: 0;
  overflow: hidden;
}



.w-1  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
.w-2  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
.w-3  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
.w-4  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
.w-5  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
.w-6  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
.w-7  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
.w-8  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
.w-9  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
.w-10 { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
.w-11 { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
.w-12 { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}

/* Division */

.w-ten   { flex: 0 1 calc(10% - 14px);}
.w-nine  { flex: 0 1 calc(11.11% - 14px);}
.w-eight { flex: 0 1 calc(12.5% - 14px);}
.w-seven { flex: 0 1 calc(14.28% - 14px);}
.w-sixth { flex: 0 1 calc(16.66% - 14px);}
.w-fifth { flex: 0 1 calc(20% - 14px);}
.w-fourth{ flex: 0 1 calc(25% - 14px);}
.w-third { flex: 0 1 calc(33.33% - 14px);}
.w-half  { flex: 0 1 calc(50% - 14px);}
.w-full  { flex: 0 1 calc(100% - 14px);}

@media (max-width: 768px) {
  /* default */
  /*[class^="width-"],
  [class*=" width-"] {
    flex: 0 1 calc(100% - 14px);
  }*/
  .w-1\@s  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .w-2\@s  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .w-3\@s  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .w-4\@s  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .w-5\@s  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .w-6\@s  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .w-7\@s  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .w-8\@s  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .w-9\@s  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .w-10\@s { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .w-11\@s { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .w-12\@s { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}

  .w-ten\@s   { flex: 0 1 calc(10% - 14px);}
  .w-nine\@s  { flex: 0 1 calc(11.11 - 14px);}
  .w-eight\@s { flex: 0 1 calc(12.5 - 14px);}
  .w-seven\@s { flex: 0 1 calc(14.28 - 14px);}
  .w-sixth\@s { flex: 0 1 calc(16.66% - 14px);}
  .w-fifth\@s { flex: 0 1 calc(20% - 14px);}
  .w-fourth\@s{ flex: 0 1 calc(25% - 14px);}
  .w-third\@s { flex: 0 1 calc(33.33% - 14px);}
  .w-half\@s  { flex: 0 1 calc(50% - 14px);}
  .w-full\@s  { flex: 0 1 calc(100% - 14px);}
}
@media (min-width: 769px) {
  .w-1\@m  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .w-2\@m  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .w-3\@m  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .w-4\@m  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .w-5\@m  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .w-6\@m  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .w-7\@m  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .w-8\@m  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .w-9\@m  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .w-10\@m { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .w-11\@m { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .w-12\@m { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}

  .w-ten\@m   { flex: 0 1 calc(10% - 14px);}
  .w-nine\@m  { flex: 0 1 calc(11.11 - 14px);}
  .w-eight\@m { flex: 0 1 calc(12.5 - 14px);}
  .w-seven\@m { flex: 0 1 calc(14.28 - 14px);}
  .w-sixth\@m { flex: 0 1 calc(16.66% - 14px);}
  .w-fifth\@m { flex: 0 1 calc(20% - 14px);}
  .w-fourth\@m{ flex: 0 1 calc(25% - 14px);}
  .w-third\@m { flex: 0 1 calc(33.33% - 14px);}
  .w-half\@m  { flex: 0 1 calc(50% - 14px);}
  .w-full\@m  { flex: 0 1 calc(100% - 14px);}
}
@media (min-width: 992px) {
  .w-1\@l  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .w-2\@l  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .w-3\@l  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .w-4\@l  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .w-5\@l  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .w-6\@l  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .w-7\@l  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .w-8\@l  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .w-9\@l  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .w-10\@l { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .w-11\@l { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .w-12\@l { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}
}
@media (min-width: 1200px) {
  .w-1\@xl  { flex: 0 1 calc(8.33% - 14px); margin: 0 7px;}
  .w-2\@xl  { flex: 0 1 calc(16.66% - 14px); margin: 0 7px;}
  .w-3\@xl  { flex: 0 1 calc(25% - 14px); margin: 0 7px;}
  .w-4\@xl  { flex: 0 1 calc(33.32% - 14px); margin: 0 7px;}
  .w-5\@xl  { flex: 0 1 calc(41.65% - 14px); margin: 0 7px;}
  .w-6\@xl  { flex: 0 1 calc(50% - 14px); margin: 0 7px;}
  .w-7\@xl  { flex: 0 1 calc(58.31% - 14px); margin: 0 7px;}
  .w-8\@xl  { flex: 0 1 calc(66.66% - 14px); margin: 0 7px;}
  .w-9\@xl  { flex: 0 1 calc(74.97% - 14px); margin: 0 7px;}
  .w-10\@xl { flex: 0 1 calc(83.3% - 14px); margin: 0 7px;}
  .w-11\@xl { flex: 0 1 calc(91.63% - 14px); margin: 0 7px;}
  .w-12\@xl { flex: 0 1 calc(100% - 14px);   margin: 0 7px;}
}

/*
#Layout sizes nomargin

.w-1  - 1 wide
.w-2  - 2 wide
.w-3  - 3 wide
.w-4  - 4 wide
.w-5  - 5 wide
.w-6  - 6 wide
.w-7  - 7 wide
.w-8  - 8 wide
.w-9  - 9 wide
.w-10  - 10 wide
.w-11  - 11 wide
.w-12  - 2 wide

markup:
<div class="layout layout--nomargin _testlayout">
  <div class="width-1">1</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
  <div class="width-1">7</div>
  <div class="width-1">8</div>
  <div class="width-1">9</div>
  <div class="width-1">10</div>
  <div class="width-1">11</div>
  <div class="width-1">12</div>
  <div class="$modifierClass _testelement">Test</div>
  <div class="width-1">1</div>
  <div class="width-1">2</div>
  <div class="width-1">3</div>
  <div class="width-1">4</div>
  <div class="width-1">5</div>
  <div class="width-1">6</div>
</div>

Styleguide layout 3.0.0
*/



.L--nomargin .w-1 { flex: 0 1 8.33%;}
.L--nomargin .w-2 { flex: 0 1 16.66%;}
.L--nomargin .w-3 { flex: 0 1 25%;}
.L--nomargin .w-4 { flex: 0 1 33.32%;}
.L--nomargin .w-5 { flex: 0 1 41.65%;}
.L--nomargin .w-6 { flex: 0 1 50%;}
.L--nomargin .w-7 { flex: 0 1 58.31%;}
.L--nomargin .w-8 { flex: 0 1 66.66%;}
.L--nomargin .w-9 { flex: 0 1 74.97%;}
.L--nomargin .w-10 { flex: 0 1 83.3%;}
.L--nomargin .w-11 { flex: 0 1 91.63%;}
.L--nomargin .w-12 { flex: 0 1 100%;}

/* divided */
.L--nomargin .w-ten   { flex: 0 1 10%;}
.L--nomargin .w-nine  { flex: 0 1 11.11;}
.L--nomargin .w-eight { flex: 0 1 12.5;}
.L--nomargin .w-seven { flex: 0 1 14.28;}
.L--nomargin .w-sixth { flex: 0 1 16.66%;}
.L--nomargin .w-fifth { flex: 0 1 20%;}
.L--nomargin .w-fourth{ flex: 0 1 25%;}
.L--nomargin .w-third { flex: 0 1 33.33%;}
.L--nomargin .w-half  { flex: 0 1 50%;}

@media (max-width: 768px) {
  .L--nomargin .w-1\@s { flex: 0 1 8.33%;}
  .L--nomargin .w-2\@s { flex: 0 1 16.66%;}
  .L--nomargin .w-3\@s { flex: 0 1 25%;}
  .L--nomargin .w-4\@s { flex: 0 1 33.32%;}
  .L--nomargin .w-5\@s { flex: 0 1 41.65%;}
  .L--nomargin .w-6\@s { flex: 0 1 50%;}
  .L--nomargin .w-7\@s { flex: 0 1 58.31%;}
  .L--nomargin .w-8\@s { flex: 0 1 66.66%;}
  .L--nomargin .w-9\@s { flex: 0 1 74.97%;}
  .L--nomargin .w-10\@s { flex: 0 1 83.3%;}
  .L--nomargin .w-11\@s { flex: 0 1 91.63%;}
  .L--nomargin .w-12\@s { flex: 0 1 100%;}
}
@media (min-width: 769px) {
  .L--nomargin .w-1\@m { flex: 0 1 8.33%;}
  .L--nomargin .w-2\@m { flex: 0 1 16.66%;}
  .L--nomargin .w-3\@m { flex: 0 1 25%;}
  .L--nomargin .w-4\@m { flex: 0 1 33.32%;}
  .L--nomargin .w-5\@m { flex: 0 1 41.65%;}
  .L--nomargin .w-6\@m { flex: 0 1 50%;}
  .L--nomargin .w-7\@m { flex: 0 1 58.31%;}
  .L--nomargin .w-8\@m { flex: 0 1 66.66%;}
  .L--nomargin .w-9\@m { flex: 0 1 74.97%;}
  .L--nomargin .w-10\@m { flex: 0 1 83.3%;}
  .L--nomargin .w-11\@m { flex: 0 1 91.63%;}
  .L--nomargin .w-12\@m { flex: 0 1 100%;}
}
@media (min-width: 992px) {
  .L--nomargin .w-1\@l { flex: 0 1 8.33%;}
  .L--nomargin .w-2\@l { flex: 0 1 16.66%;}
  .L--nomargin .w-3\@l { flex: 0 1 25%;}
  .L--nomargin .w-4\@l { flex: 0 1 33.32%;}
  .L--nomargin .w-5\@l { flex: 0 1 41.65%;}
  .L--nomargin .w-6\@l { flex: 0 1 50%;}
  .L--nomargin .w-7\@l { flex: 0 1 58.31%;}
  .L--nomargin .w-8\@l { flex: 0 1 66.66%;}
  .L--nomargin .w-9\@l { flex: 0 1 74.97%;}
  .L--nomargin .w-10\@l { flex: 0 1 83.3%;}
  .L--nomargin .w-11\@l { flex: 0 1 91.63%;}
  .L--nomargin .w-12\@l { flex: 0 1 100%;}
}
@media (min-width: 1200px) {
  .L--nomargin .w-1\@xl { flex: 0 1 8.33%;}
  .L--nomargin .w-2\@xl { flex: 0 1 16.66%;}
  .L--nomargin .w-3\@xl { flex: 0 1 25%;}
  .L--nomargin .w-4\@xl { flex: 0 1 33.32%;}
  .L--nomargin .w-5\@xl { flex: 0 1 41.65%;}
  .L--nomargin .w-6\@xl { flex: 0 1 50%;}
  .L--nomargin .w-7\@xl { flex: 0 1 58.31%;}
  .L--nomargin .w-8\@xl { flex: 0 1 66.66%;}
  .L--nomargin .w-9\@xl { flex: 0 1 74.97%;}
  .L--nomargin .w-10\@xl { flex: 0 1 83.3%;}
  .L--nomargin .w-11\@xl { flex: 0 1 91.63%;}
  .L--nomargin .w-12\@xl { flex: 0 1 100%;}
}

/* Height */
.screenheight-full   { height: 100vh;}
.screenheight-half   { height: 50vh;}
.screenheight-third   { height: 33vh;}
.screenheight-fourth { height: 25vh;}

/* add mediaquery size */
@media (max-width: 768px) {
  .screenheight-full\@s   { height: 100vh;}
  .screenheight-half\@s   { height: 50vh;}
  .screenheight-third\s   { height: 33vh;}
  .screenheight-fourth\@s {  height: 25vh;}
}
@media (min-width: 768px) {
  .screenheight-full\@m   { height: 100vh;}
  .screenheight-half\@m   { height: 50vh;}
  .screenheight-third\m   { height: 33vh;}
  .screenheight-fourth\@m {  height: 25vh;}
}
@media (min-width: 992px) {
  .screenheight-full\@l   { height: 100vh;}
  .screenheight-half\@l   { height: 50vh;}
  .screenheight-third\l   { height: 33vh;}
  .screenheight-fourth\@l {  height: 25vh;}
}
@media (min-width: 1200px) {
  .screenheight-full\@xl   { height: 100vh;}
  .screenheight-half\@xl   { height: 50vh;}
  .screenheight-third\@xl  { height: 33vh;}
  .screenheight-fourth\@xl {  height: 25vh;}
}


/* Show hide utilities */
@media (max-width: 768px) {
  .u-visible\@s{ display: block;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
}
@media (min-width: 769px) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: block;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
}
@media (min-width: 992px) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: block;}
  .u-visible\@g{ display: none;}
}
@media (min-width: 1200px) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: block;}
}
@media print {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
  .u-visible\@print{ display: block;} /* @TODO: fix*/
}

/*
Layout Space helpers
*/
.LS-top{
  padding-top: 1rem;
  margin-top: 1rem;
}
.LS-bottom{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.LS-top-half{
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.LS-bottom-half{
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}


.u-align-right{
  text-align: right
}
.u-align-center{
  text-align: center
}
.u-align-left{
  text-align: left
}


/* For test using */
._testlayout {
  background: lightblue;
  padding:0.5rem 0;
  text-align: center;
  min-height: 500px
}
._testlayout .w-1,
._testlayout ._testelement {
  margin-bottom: 2px;
  border-right: 1px solid lightgray;
  background: #e1e1e1;
  color: #999;
  height: 50px;
}
._testlayout div._testelement,
._testelement {
  background: hotpink;
  text-align: center;
  color: black;
}
