/*
#Page

page layout overwrites for page.html.twig

Styleguide page
*/

/* corrects for the menu on the page*/
main{
  /*padding-top: 55px;*/
}

/* @TODO : this is some sloppy ass css morten... */
.header-first{
  width: 10%;
  float:left;
}
.header-last{
  width: 90%;
  float:left;
}
