/* Open sans */
/* light */
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
/* Regular */
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
/* semibold */
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
/* bold */
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* extra bold */
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
