/* @TODO: create a L for a page center element */
.t-message {
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: absolute;
  bottom: 200px;
  right: 0;
  width: 400px;
  padding: 10px;
  color: white;
}
