/*
Base

Basic for all pages

Style 1.0
*/

/* box-sizing */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  text-size-adjust: 100%;
}

/* corrects block for ie */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

iframe{
  max-width: 100%;
  border:0;
}

/* link */
a{
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
a:active{
}
