/* box-sizing */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  text-size-adjust: 100%; /*ios only*/
}
body{
  margin: 0;
}
iframe {
  max-width: 100%;
  border: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
