/*
#base

The base.css is correctiong base css elements.

Styleguide 1.0 base
*/

/* box-sizing */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  text-size-adjust: 100%; /*ios only*/
}
body{
  margin: 0;
}
iframe {
  max-width: 100%;
  border: 0;
}

/*
#Base links

Links

.selector - selector description

 Markup:
<main>
<a href="#" class="$modifierClass">inside main</a>
</main>

Styleguide 1.0.1 base
*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/* All links added from the content fields */
/*main a[href]:not([class]) {
  text-decoration: underline;
}*/
