/*
#Form

Drupals form for fun n profit

Styleguide 2.0
*/

form {
  margin: 0;
  padding: 0;
}

/*
#Form: input

Drupals Default form input.

.form-required -

Markup:
<div class="form-item form-type-textfield form-item-name js-form-item js-form-type-textfield js-form-item-name ">
  <label for="edit-name" class="js-form-required $modifierClass">Name</label>
  <input data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="30" maxlength="128" class="form-text required machine-name-source" required="required" aria-required="true">
  <div id="edit-name--description" class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque voluptas veritatis rerum voluptates quam aut molestiae optio, praesentium nam qui voluptate corporis tempora assumenda natus, ab ad ratione saepe, neque.
  </div>
</div>

Styleguide 2.1.1
*/

/* Label
----------------------*/
label[for] {
  cursor: pointer;
}
.form-disabled label {
  color: #737373;
}
.form-required{
  border: 1px solid red;
}
.form-required:after {
  background-image: url(../images/formrequired.svg);
  background-size: 7px 7px;
  width: 7px;
  height: 7px;
}


/* Input
----------------------------*/
input {
  line-height: normal;
  color: inherit;
  font: inherit;
  margin: 0;

}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* basic active vs focus state */
input[type=text], .form-text,
input[type=email], .form-email,
input[type=number], .form-number,
input[type=password],
input[type=search], .form-search,
input[type=tel], .form-tel,
input[type=month],
input[type=datetime],
input[type=datetime-local],
input[type=time],
input[type=week],
input[type=url], .form-url,
.form-file,
.form-autocomplete,
.form-color,
.form-date,
.form-time {
  padding: 0.3em 0.4em 0.3em 0.5em;
  /* LTR */
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  border-radius: 2px;
  background: #fcfcfa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  font-size: 1em;
  color: #595959;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: #40b6ff;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px #40b6ff;
  background-color: #fff;
}

/* Input:search;
----------------------------*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



/* checkbox
----------------------------------*/


/* radio
----------------------------------*/



/* textarea
----------------------------*/
textarea {
  overflow: auto;
  color: inherit;
  font: inherit;
  margin: 0;

}

/* select
----------------------------*/
select {
  text-transform: none;
  color: inherit;
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
  color: inherit;
  font: inherit;
  margin: 0;
}


/* button
------------------------------*/


/* disabled
----------------------------*/
.form-disabled input
.form-disabled textarea,
.form-disabled select {
  border-color: #d4d4d4;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: none;
}

/* Fieldset
------------------------------*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


/* Legend
------------------------------*/
legend {
  border: 0;
  padding: 0;
}


/* error */
form .error {
  border-width: 2px;
  border-color: #e62600;
  background-color: #fdf4f2;
  box-shadow: inset 0 5px 5px -5px #b8b8b8;
  color: #a51b00;
}

form .error:focus {
  border-color: #e62600;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px 1px #e62600;
  background-color: #fcf4f2;
}
