/*
#Images

Images

Markup:
<img class="$modifierClass" src="http://drupalthemes.dev/themes/vanilla/screenshot-small.png" alt="Screenshot" title="Vanilla theme">

Styleguide 4.0
*/

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}

/* Correct overflow not hidden in IE 9/10/11.*/
svg:not(:root) {
  overflow: hidden;
}

/*
#Figure

Figure wrapper with figcaption

Markup:
<figure class="$modifierClass">
<img src="http://drupalthemes.dev/themes/vanilla/screenshot-small.png" alt="Screenshot" title="Vanilla theme">
<figcaption>whatever</a>
<figure>

Styleguide 4.1
*/
figure {
  display: inline-block;
  width: 100%;   /*FF3 img needs a 100% if parent is set in %  #facepalm */
  margin: 0;
  padding: 0;
}
figcaption {
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
}

/*
#Figure in content

Figure wrapper with figcaption inside of content

.right - Right aligned

Markup:
<div class="content">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi consequatur ut laboriosam, odio rerum sint rem tenetur veritatis facere. Obcaecati facilis debitis libero inventore! Cupiditate consequuntur dolorum minima odio aperiam?
<img class="$modifierClass" src="http://drupalthemes.dev/themes/vanilla/screenshot-small.png" alt="Screenshot" title="Vanilla theme">
<div>

Styleguide 4.2
*/
.content img {
  float: left;
  padding: 0 1rem 1rem 0;
}
.content figure {
  float: left;
  padding: 0 1rem 1rem 0;
}
.content figure img {
  float: none;
}
.content img.right,
.content .right img {
  float: right;
  padding: 0 1rem 1rem 0;
}
