{{ attach_library('vanilla/hero-video') }}


<div class="L-center-middle screenheight-full screenheight-half@s js-hero-front hero-video" id="top">

  <video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="hero-video" loop>
    <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
    <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
  </video>


  <button class="js-video-hero-pause">Pause</button>

  <a href="#mainmenu" class="hero-video__content">
    <h1>mortendk</h1>
    <h2>My favorite color is <span class="hero__favecolor">#bada55</span></h2>
    <h3>Drupal Webdesigner</h3>
    <div class="hero__arrow">arrow down</div>
  </a>


</div>
