footer[role="contentinfo"]{
  color: white;
  background: #4A4A4A;
  background: var(--gray800);
  font-size: 1rem;
  color: var(--gray600);
}

footer[role="contentinfo"] h2,
footer[role="contentinfo"] h3{
  font-size: 1rem;
  color: var(--bluegray200);
}

footer[role="contentinfo"] a{
  color: inherit;
}
.t-gray700{
  background: var(--gray700);
}

.t-footer a {
  color: var(--white);
}
